<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="AHT_ProductFeatured::productfeatured"
            title="Products Featured"
            module="AHT_ProductFeatured"
            sortOrder="50"
            parent="Magento_Catalog::inventory"
            action="productfeatured/productfeatured/index"
            resource="AHT_ProductFeatured::productfeatured"
        />
    </menu>
</config>